body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}
.box {
    color: white;
    background-color: pink  ;
    padding: 10px;
    border-radius: 10px;
    animation-name: myanima;
    animation: myanima 3s infinite alternate;
}

@keyframes myanima {
    0% {
        transform: scale(1.5);
        background-color: #abe;
      }
      50% {
        transform: scale(1);
        background-color: #24A;
        color: #fff;
      }
      100% {
        transform: scale(1.5);
        background-color: #57D;
      }
  }